/* body */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    /* background-color: #F8F9FA; */
    background-color: #FFFFFF;
    background-image: url("../img/bl-ink-home-bg-1-min.png");
    background-attachment: fixed;
    background-size: cover;
}

/* header */
/* header {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    width: 100%;
    position: fixed;
    z-index: 5;
    top: 0;
    background-color: #ffffff;
} */

.nav-bar {
    margin: auto;
    /* padding: 10px 0px; */
    width: 93%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    /* border: 1px solid blue; */
    height: 50px;
    width: 100%;
}

.nav-bar>div {
    /* border: 1px solid red; */
    /* text-transform: uppercase; */
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar>div>p{
    font-size: 22px;
    color: #00AEF0;
}

.nav-logo, .nav-bar>div>p:hover, button {
    cursor: pointer;
}

.dropdown {
    position: fixed;
    top: 10px;
    right: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #00AEF0;
    width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 50px;
    border-radius: 10px;
    padding: 10px 20px;
    transition: width 2s ease-in-out 1s;
}

.dropdown-content a {
    display: flex;
    align-items: center;
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    gap: 10px;
    /* display: block; */
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content>hr{
    height: 1px;
    background-color: #ffffff;
    border: none;
    width: 90%;
    margin: auto;
}

.dropdown-content>form>label{
    color: #ffffff;
    margin-top: 20px;
}

.dropdown-content>form>input{
    width: 100%;
    border-radius: 5px;
    border: none;
    height: 30px;
    font-size: 15px;
}

.dropdown-content>form>input:focus{
    border: none;
    outline: none;
}

.dropdown-content>form>input[type="submit"] {
    margin-top: 10px;
    width: 102%;
    height: 40px;
    background-color: #fff;
    border: 1px solid #00AEF0;
    color: #00AEF0;
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 5px;
  }
  
  .dropdown-content>form>input[type="submit"]:active {
    background-color: #00AEF0;
    border: 1px solid #fff;
    color: #fff;
  }

/* main */
main {
    /* border: 1px solid black; */
    width: 100%;
    margin: 100px auto;
}

/* overview */
.main-overview {
    /* border: 1px solid blue; */
    width: 90%;
    display: flex;
    justify-content: space-around;
    margin: 20px auto;
    border-radius: 8px;
    padding: 20px 20px;
    background-color: #ffffff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.overview-card {
    border: 1px solid #e9e9e9;
    width: 20%;
    align-items: flex-start;
    border-radius: 8px;
    /* color: #2f3a4c; */
    color: #5a677a;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 5px 25px;
    text-align: left;
}

.overview-card:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.main-overview>:nth-child(1) {
    background-color: #f8f9fa;
}

.main-overview>:nth-child(2) {
    background-color: #f1fdf8;
}

.main-overview>:nth-child(3) {
    background-color: #f0f8ff;
}

.main-overview>:nth-child(4) {
    background-color: #f7e8e7;
}

.overview-card h2 {
    /* border: 1px solid green; */
    margin: 2%;
}

.overview-card p {
    margin: 2%;
    /* border: 1px solid green; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}

.overview-card span {
    width: 8%;
}

.overview-card img {
    width: 90%;
}


/* graph and charts */
.main-graph-chart {
    /* border: 1px solid black; */
    width: 90%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 50px;
    border-radius: 8px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.main-graph-chart>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 50px;
}

.main-graph-chart>div>div {
    /* border: 1px solid black; */
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #e9e9e9;
}

.main-graph-chart>div>div:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.main-graph-chart>div>div>span {
    /* border: 1px solid red; */
    width: 100%;
    color: #5a677a;
    text-decoration: underline;
    padding-bottom: 20px;
}

/* total click chart */
.total-click-chart {
    /* border: 1px solid red; */
    width: 100%;
    max-width: 800px;
    margin: 0;
}

/* devices-click-chart */
.devices-click-chart {
    /* border: 1px solid rgb(255, 0, 34); */
    width: 100%;
    max-width: 400px;
    margin: 0;
}

/* platform-click-chart */
.platform-click-chart {
    /* border: 1px solid rgb(255, 0, 34); */
    width: 100%;
    max-width: 400px;
    margin: 0;
}

/* platform-click-chart */
.browser-click-chart {
    /* border: 1px solid rgb(255, 0, 34); */
    width: 100%;
    max-width: 400px;
    margin: 0;
}

/* location-click-chart */
.location-click-chart {
    /* border: 1px solid rgb(255, 0, 34); */
    width: 100%;
    max-width: 800px;
    margin: 0;
}

/* shortener */
.main-shortener-box {
    width: 100%;
    margin: auto;
    /* padding: 20px; */
    /* border-radius: 8px;
    background-color: #ffffff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
}

/* shortener input form */
.shortener-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    /* height: 50px; */
    border-radius: 8px;
    padding: 0px 20px;
    /* border: 1px solid #e9e9e9; */
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.shortener-input>input {
    /* border: 1px solid red; */
    width: 90%;
    height: 50px;
    border: none;
    padding: 5px 20px;
    border-radius: 8px;
    background-color: #ffffff;
}

.shortener-input>input:focus {
    outline: none;
}

.shortener-input>button {
    /* border: 1px solid green; */
    width: 154px;
    height: 50px;
    border: none;
    padding: 0 20px;
    margin: 0px 20px;
    color: #ffffff;
    font-size: 18px;
    border-radius: 8px;
    background-color: #00AEF0;
}


/* urls list */
.url-list {
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    width: 90%;
    margin: 20px auto;
    color: #5a677a;
    /* height: 50px; */
    border-radius: 8px;
    padding: 20px 20px;
    /* border: 1px solid #e9e9e9; */
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

::placeholder{
    font-size: 15px;
}

.url-list>hr{
    color: #c4cbd6;
    background-color: #c4cbd6;
    border: 1px solid #d8d8d8;
}

.url-list a{
    text-decoration: none;
    color: #5a677a;
    padding: 10px 0px;
}

.url-list a:hover{
    color: #00AEF0;
}

.shortUrl-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shortUrl-box>div{
    display: flex;
    gap: 5px;
    align-items: center;
}

.shortUrl-box>div>div>img:active{
    opacity: 0%;
}

.shortUrl-box>:nth-child(2) {
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    /* border: 1px solid #00AEF0; */
    width: 150px;
    height: 50px;
    /* border: none; */
    /* padding: 0 20px 0px 20px; */
    margin: 0px 20px;
    color: #5a677a;
    font-size: 18px;
    border-radius: 50%;
    background-color: #ffffff;
}

/* .shortUrl-box>:nth-child(2):hover {
    background-color: #00AEF0;
    color: #ffffff;
} */

.shortUrl-box>:nth-child(2) p {
    /* width: 20px; */
    color: #ffffff;
    border-radius: 8px;
    border: 1px solid #ffffff;
    background-color: #00AEF0;
    padding: 10px;
}

.shortUrl-box img {
    width: 20px;
}

/* prompt box */
.prompt-box{
    min-height: 75px;
    min-width: 400px;
    background-color: #00AEF0;
    display: flex;
    flex-direction: column;
    border-radius: 10px 0px 0px 10px;
    padding: 10px 20px;
    color: #ffffff;
    font-size: 18px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    transition: width 2s ease-in-out 1s;
}

.prompt-box>div{
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    margin: 20px 0px 5px;
}

.prompt-box>div>button{
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: #ffffff;
}

.prompt-box>div>button:hover{
    color: #ffffff;
    border: 1px solid #fff;
    background-color: #00AEF0;
}