@media (max-width: 700px) {
    /* nav */
    .nav-bar>div {
        width: 60%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    /* overview */
    .main-overview {
        /* border: 1px solid blue; */
        flex-direction: column;
        gap: 20px;
    }

    .overview-card {
        width: 90%;
    }

    /* graph and charts */
    .main-graph-chart>div {
        flex-direction: column;
    }

    .main-graph-chart>div>div {
        /* border: 1px solid black; */
        width: 90%;
    }

    /* urls list */
    .shortUrl-box {
        flex-direction: column;
    }

    .fullUrl{
        overflow-x: hidden;
    }
}

@media (max-width: 1900px){
    /* graph and charts */
    .main-graph-chart>div {
        flex-direction: column;
    }

    .main-graph-chart>div>div {
        /* border: 1px solid black; */
        width: 90%;
    }
}