/* body */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    background-image: url("../img/bl-ink-home-bg-1-min.png");
    background-attachment: fixed;
    background-size: cover;
}


main {
 
    width: 100%;
    margin: 100px auto;
}

/* overview */
.main-overview {
  
    width: 90%;
    display: flex;
    justify-content: space-around;
    margin: 20px auto;
    border-radius: 8px;
    padding: 20px 20px;
    background-color: transparent;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.overview-card {
    border: 1px solid rgba(255, 255, 255, 0.301);;
    width: 45%;
    align-items: flex-start;
    border-radius: 8px;
    color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 5px 25px;
    text-align: left;
    border-image: linear-gradient(to bottom, rgb(0, 255, 17), rgb(120, 72, 33)) 1;
}

.overview-card:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: rgb(246, 246, 248);
    background-color: #132B3E;
    border-image: linear-gradient(to bottom, rgb(0, 255, 17), rgb(120, 72, 33)) 1;
}

.main-overview>:nth-child(1) {
    background-color: rgba(255, 255, 255, 0.301);
}

.main-overview>:nth-child(2) {
    background-color: rgba(255, 255, 255, 0.301);
}

.main-overview>:nth-child(3) {
    background-color: rgba(255, 255, 255, 0.301);
}

.main-overview>:nth-child(4) {
    background-color: rgba(255, 255, 255, 0.301);
}
/* hover */
.main-overview>:nth-child(1):hover {
    background-color : #0a0a24;
}

.main-overview>:nth-child(2):hover {
    background-color : #0a0a24;
}

.main-overview>:nth-child(3):hover {
    background-color : #0a0a24;
}

.main-overview>:nth-child(4):hover {
    background-color : #0a0a24;
}

.overview-card h2 {

    margin: 2%;
}

.overview-card p {
    margin: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}

.overview-card span {
    width: 10%;
}

.overview-card img {
    width: 90%;
}

/* short */
.main-shortener-box {
    width: 95%;
    margin: auto;

}

/* shortinput form */
.shortener-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    border-radius: 8px;
    padding: 0px 20px;
    border-radius: 8px;

    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.shortener-input>input {
    width: 100%;
    height: 50px;
    border: none;
    color: #d8d8d8;
    padding: 5px 20px;
    border-radius: 8px;
 background-color: #0a0a24;;
}

.shortener-input>input:focus {
    outline: none;
}

.shortener-input>button {
    width: 154px;
    height: 50px;
    border: none;
    padding: 0 20px;
    margin: 0px 20px;
    color: #000000;
    font-size: 18px;
    border-radius: 8px;
    
    background-color: #2ad841;
}
.shortener-input>button:hover {
    width: 154px;
    height: 50px;
    border: none;
    padding: 0 20px;
    margin: 0px 20px;
    color: #ffffff;
    font-size: 18px;
    border-radius: 8px;
    background-color: #0a0a24;;
}

.url-list {

    width: 82%;
    margin: 20px auto;
    color: #ffffff8c;
    border-radius: 8px;
    padding: 20px 20px;
    border-radius: 8px;
    background-color: #0a0a2475;;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

::placeholder{
    font-size: 14px;
}

.url-list>hr{
    color: #2ad841;
    background-color: #00000000;
    border: 1px solid #ebd7d752;
}

.url-list a{
    text-decoration: none;
    color: #ffffffb6;
    padding: 10px 0px;
}

.url-list a:hover{
    color: #2ad841;
}

.shortUrl-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shortUrl-box>div{
    display: flex;
    gap: 5px;
    align-items: center;
}

.shortUrl-box>div>div>img:active{
    opacity: 0%;
}

.shortUrl-box>:nth-child(2) {
    display: flex;
    align-items: center;
    width: 150px;
    height: 50px;
    margin: 0px 20px;
    color: #5a677a;
    font-size: 18px;
    border-radius: 50%;

}

.shortUrl-box>:nth-child(2) p {
    color: #ffffff;
    border-radius: 8px;
    border: 1px solid #ffffff;
    background-color: #00AEF0;
    padding: 10px;
}

.shortUrl-box img {
    width: 20px;
}



@media (max-width: 700px) {
    /* nav */
    .nav-bar>div {
        width: 60%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .main-overview {
        flex-direction: column;
        gap: 20px;
    }

    .overview-card {
        width: 90%;
    }

    /* graph and charts */
    .main-graph-chart>div {
        flex-direction: column;
    }

    .main-graph-chart>div>div {
        /* border: 1px solid black; */
        width: 90%;
    }

    /* urls list */
    .shortUrl-box {
        flex-direction: column;
    }

    .fullUrl{
        overflow-x: hidden;
    }
}

@media (max-width: 1900px){
    /* graph and charts */
    .main-graph-chart>div {
        flex-direction: column;
    }
    
    .main-graph-chart>div>div {
        /* border: 1px solid black; */
        width: 90%;
    }
}

@media (max-width: 790px){
    .signup1{
        display: inline;
    }
}
@media (max-width: 580px){
    .signup1{
        width: 30%;
    }
    button{
        width: 30% ;
    }
    .usernamelogout{
        font-size: x-small;
    }
}
@media (max-width: 450px){
    .signup1{
        width: 30%;
    }
    button{
        width: 30% ;
    }
    nav{
        font-size: xx-small;
    }
    .logo img{
        width: 80%;
    }
}
.qrcodegenerate{
    text-align: center;
    color: lightblue;
    font-size: larger;
}
