tr>td:last-child{
    background-color: #95b43fbe;
    border-radius: 5px;
    
}
tr>td:last-child:hover{
    background-color: #ffb300ab;
    color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    
}

table{
    margin:50px auto;
    width: 80%;
    text-align: center;
}
th{
    background-color: rgb(172, 138, 60);
    padding: 10px;
    border-radius: 5px;
    
}
tbody>tr:nth-child(even){
    background-color: rgba(26, 194, 102, 0.169);
    
}
tbody>tr:nth-child(odd){
    background-color: rgba(255, 179, 0, 0.08);
}
tbody>tr:nth-child(even):hover{
    background-color: #ffb3003e;
    color: rgb(201, 171, 171);
}